//colors
$body-background-color: rgb(189, 191, 188);
$form-background-color: white;
$input-color: rgb(24, 56, 88);
$headlines-color : rgb(119, 53, 70);

body {
    background-color: $body-background-color;
}

