@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
}

article {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 a {
    color: #333;
    font-size: 5rem;
}

h1 a, nav li a, ul, .post-date, .post-content a {
    font-family: 'Lora', serif;
    text-decoration: none;
    
}

header {
    text-align: center;
}

nav li a {
    color: #666;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5 rem;
}

nav {
    border-top: 1.5px solid #d0d0d0;
    border-bottom: 1.5px solid #d0d0d0;
}

nav li a:hover {
    color:#00ddff
}

nav li a:active {
    color: #DEB887;
}

ul {
    list-style: none;
    text-decoration: none;
}

h2 {
    color: #333;
    text-decoration: none;
    border-bottom: 1.5px solid #d0d0d0;
}

p {
    color: #333;
    font-size: 'Helvetica', sans-serif;
    font-size: 1rem;
}

.post-content a {
    color: #666;
    text-decoration: none;
}

.post-content a:hover {
    color:#00ddff
}

.post-content a:active {
    color: #DEB887;
}

.post-date {
    text-align: right;
}

/* h2 {

} */