@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    margin: 0 auto;
    padding: 1rem;
}

h1 a {
    color: #333;
    font-size: 4rem;
}

h1 a, nav li a, ul, .post-date, .post-content a {
    font-family: 'Lora', serif;
    text-decoration: none;
    
}

header {
    text-align: center;
}

nav li a {
    color: #666;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5 rem;
}

nav {
    border-top: 1.5px solid #d0d0d0;
    border-bottom: 1.5px solid #d0d0d0;
}

nav li a:hover {
    color:#00ddff
}

nav li a:active {
    color: #DEB887;
}

ul {
    list-style: none;
    text-decoration: none;
}

h2 {
    color: #333;
    text-decoration: none;
    font-size: 1.7em;
}

p {
    color: #333;
    font-size: 'Helvetica', sans-serif;
    font-size: 1rem;
}

.post-content a {
    color: #666;
    text-decoration: none;
}

.post-content {
    text-align: initial;
}

p a:hover {
    color:#00ddff
}

p a:active {
    color: #DEB887;
}

.post-date {
    text-align: right;
    border-bottom: 1.5px solid #d0d0d0;
}

/* h2 {

} */
/* h2 {

} */